# This file was auto-generated by Fern from our API Definition.

import typing

from ..core.client_wrapper import AsyncClientWrapper, SyncClientWrapper
from ..core.pagination import AsyncPager, SyncPager
from ..core.request_options import RequestOptions
from ..types.create_llm_request import CreateLlmRequest
from ..types.list_ll_ms_response import ListLlMsResponse
from ..types.llm import Llm
from ..types.update_llm_request import UpdateLlmRequest
from .raw_client import AsyncRawLlmsClient, RawLlmsClient

# this is used as the default value for optional parameters
OMIT = typing.cast(typing.Any, ...)


class LlmsClient:
    def __init__(self, *, client_wrapper: SyncClientWrapper):
        self._raw_client = RawLlmsClient(client_wrapper=client_wrapper)

    @property
    def with_raw_response(self) -> RawLlmsClient:
        """
        Retrieves a raw implementation of this client that returns raw responses.

        Returns
        -------
        RawLlmsClient
        """
        return self._raw_client

    def list(
        self,
        *,
        filter: typing.Optional[str] = None,
        limit: typing.Optional[int] = None,
        page_key: typing.Optional[str] = None,
        request_options: typing.Optional[RequestOptions] = None,
    ) -> SyncPager[Llm, ListLlMsResponse]:
        """
        List LLMs that can be used with query and chat endpoints. The LLM is not directly specified in a query, but instead a `generation_preset_name` is used. The `generation_preset_name` property in generation parameters can be found as the `name` property on the Generations Presets retrieved from `/v2/generation_presets`.

        Parameters
        ----------
        filter : typing.Optional[str]
            A regular expression to match names and descriptions of the LLMs.

        limit : typing.Optional[int]
            The maximum number of results to return in the list.

        page_key : typing.Optional[str]
            Used to retrieve the next page of LLMs after the limit has been reached. This parameter is not needed for the first page of results.

        request_options : typing.Optional[RequestOptions]
            Request-specific configuration.

        Returns
        -------
        SyncPager[Llm, ListLlMsResponse]
            List of LLMs.

        Examples
        --------
        from vectara import Vectara

        client = Vectara(
            client_id="YOUR_CLIENT_ID",
            client_secret="YOUR_CLIENT_SECRET",
        )
        response = client.llms.list()
        for item in response:
            yield item
        # alternatively, you can paginate page-by-page
        for page in response.iter_pages():
            yield page
        """
        return self._raw_client.list(filter=filter, limit=limit, page_key=page_key, request_options=request_options)

    def create(self, *, request: CreateLlmRequest, request_options: typing.Optional[RequestOptions] = None) -> Llm:
        """
        Integrate external Large Language Models (LLMs) into Vectara for Retrieval Augmented Generation (RAG) and chat. Connect OpenAI API-compatible models from providers like Anthropic, Azure, Google, or custom-hosted endpoints. Once created, reference your custom LLM by name in query generation parameters.
        - Connect external LLMs using OpenAI-compatible API format
        - Configure multiple LLM providers for different use cases
        - Override Vectara's built-in LLMs with your own models
        - Use custom models for RAG, chat, and document summarization

        **Example providers:**

        ### OpenAI

        **Type:** `openai-compatible`
        **Models:** GPT-4o, GPT-5
        **Auth:** Bearer token

        ```json
        {
          "type": "openai-compatible",
          "name": "my-gpt5",
          "model": "gpt-5",
          "uri": "https://api.openai.com/v1/chat/completions",
          "auth": {
            "type": "bearer",
            "token": "sk-..."
          }
        }
        ```

        ### OpenAI Responses API

        **Type**: openai-responses
        **Models**: o1-preview, o1-mini, o3-mini (reasoning models)
        **Auth**: Bearer token
        **Note**: For reasoning models that don't support streaming

        ```json
        {
          "type": "openai-responses",
          "name": "my-o1",
          "model": "o1-preview",
          "uri": "https://api.openai.com/v1/chat/completions",
          "auth": {
            "type": "bearer",
            "token": "sk-..."
          }
        }
        ```

        ### Anthropic Claude

        **Type:** `openai-compatible`
        **Models:** claude-4-opus, claude-4-5-haiku, claude-4-5-sonnet
        **Auth:** Bearer token with header

        ```json
        {
          "type": "openai-compatible",
          "name": "my-claude",
          "model": "claude-sonnet-4-5-20250929",
          "uri": "https://api.anthropic.com/v1/messages",
          "auth": {
            "type": "bearer",
            "token": "sk-ant-..."
          },
          "headers": {
            "anthropic-version": "2023-06-01"
          }
        }
        ```

        ### Azure OpenAI

        **Type:** `openai-compatible`
        **Models:** GPT-3.5, GPT-4 (Azure-deployed versions)
        **Auth:** Custom header (api-key)

        ```json
        {
          "type": "openai-compatible",
          "name": "my-azure-gpt4",
          "model": "gpt-4",
          "uri": "https://YOUR-RESOURCE.openai.azure.com/openai/deployments/YOUR-DEPLOYMENT/chat/completions?api-version=2024-02-15-preview",
          "auth": {
            "type": "header",
            "header": "api-key",
            "value": "your-azure-key"
          }
        }
        ```

        ### Google Vertex AI (Gemini) — Service Account

        **Type:** `vertex-ai`
        **Models:** gemini-2.5-pro, gemini-2.5-flash
        **Auth:** Service account

        ```json
        {
          "type": "vertex-ai",
          "name": "my-gemini",
          "model": "gemini-2.5-flash",
          "uri": "https://us-central1-aiplatform.googleapis.com/v1/projects/YOUR-PROJECT/locations/us-central1",
          "auth": {
            "type": "service_account",
            "key_json": "{...service account JSON...}"
          }
        }
        ```

        ### Google AI Studio (Gemini) — API Key

        **Type:** `vertex-ai`
        **Models:** gemini-2.5-pro, gemini-2.5-flash
        **Auth:** API key

        ```json
        {
          "type": "vertex-ai",
          "name": "my-gemini",
          "model": "gemini-2.5-flash",
          "uri": "https://generativelanguage.googleapis.com/v1beta",
          "auth": {
            "type": "api_key",
            "api_key": "your-google-api-key"
          }
        }
        ```

        The `uri` field is flexible — you can provide a base URI or a full URL copied from Google docs
        (including model path and `:generateContent` suffix). The system normalizes it automatically.

        ### Custom OpenAI-Compatible

        **Type:** `openai-compatible`
        **Models:** Any self-hosted or custom LLM, such as OpenRouter.
        **Auth:** Bearer or custom header

        ```json
        {
          "type": "openai-compatible",
          "name": "my-custom-llm",
          "model": "llama-3-70b",
          "uri": "https://my-llm-endpoint.com/v1/chat/completions",
          "auth": {
            "type": "bearer",
            "token": "custom-token"
          }
        }
        ```

        Parameters
        ----------
        request : CreateLlmRequest

        request_options : typing.Optional[RequestOptions]
            Request-specific configuration.

        Returns
        -------
        Llm
            The LLM has been created

        Examples
        --------
        from vectara import CreateLlmRequest_OpenaiCompatible, Vectara

        client = Vectara(
            client_id="YOUR_CLIENT_ID",
            client_secret="YOUR_CLIENT_SECRET",
        )
        client.llms.create(
            request=CreateLlmRequest_OpenaiCompatible(
                name="Claude 3.7 Sonnet",
                model="claude-3-7-sonnet-20250219",
                uri="https://api.anthropic.com/v1/chat/completions",
            ),
        )
        """
        _response = self._raw_client.create(request=request, request_options=request_options)
        return _response.data

    def get(self, llm_id: str, *, request_options: typing.Optional[RequestOptions] = None) -> Llm:
        """
        The Get LLM API allows users to retrieve details about a specific Large Language Model (LLM) that has been configured within the Vectara platform. This API provides metadata about the LLM, including its name, description, model type, API endpoint, and authentication method.

        Use this API to verify model configurations, confirm connectivity details, and ensure that the correct LLM is being utilized within their workflows.

        ## Authentication methods
        The request requires authentication details, and you can provide them either as a Bearer token or custom header-based authentication.

        Parameters
        ----------
        llm_id : str
            The name of the LLM to retrieve.

        request_options : typing.Optional[RequestOptions]
            Request-specific configuration.

        Returns
        -------
        Llm
            The LLM details.

        Examples
        --------
        from vectara import Vectara

        client = Vectara(
            client_id="YOUR_CLIENT_ID",
            client_secret="YOUR_CLIENT_SECRET",
        )
        client.llms.get(
            llm_id="llm_id",
        )
        """
        _response = self._raw_client.get(llm_id, request_options=request_options)
        return _response.data

    def delete(self, llm_id: str, *, request_options: typing.Optional[RequestOptions] = None) -> None:
        """
        The Delete LLM API enables users to remove a previously configured custom Large Language Model (LLM) from their Vectara account. This functionality is essential for managing active LLM configurations and ensuring that only relevant models are available for use. Built-in LLMs cannot be deleted, ensuring that core system models remain accessible.

        By providing an LLM identifier, users can permanently delete a model configuration, freeing up resources and maintaining an organized list of available LLMs.

        If successful, the API responds with `HTTP 204 No Content` status, confirming the LLM deletion.

        Parameters
        ----------
        llm_id : str
            The name of the LLM to delete.

        request_options : typing.Optional[RequestOptions]
            Request-specific configuration.

        Returns
        -------
        None

        Examples
        --------
        from vectara import Vectara

        client = Vectara(
            client_id="YOUR_CLIENT_ID",
            client_secret="YOUR_CLIENT_SECRET",
        )
        client.llms.delete(
            llm_id="llm_id",
        )
        """
        _response = self._raw_client.delete(llm_id, request_options=request_options)
        return _response.data

    def update(
        self, llm_id: str, *, request: UpdateLlmRequest, request_options: typing.Optional[RequestOptions] = None
    ) -> Llm:
        """
        Update an existing LLM's configuration. This endpoint allows partial updates - only provide fields you want to change. Only the name field is immutable.

        The updated LLM will be tested before saving to ensure credentials are valid.

        **Updatable fields:**
        - `description` - LLM description
        - `type` - LLM type (openai-compatible, vertex-ai, etc.)
        - `model` - Model identifier
        - `uri` - API endpoint
        - `auth` - Authentication credentials (including service account key_json)
        - `headers` - Additional HTTP headers (for openai-compatible and anthropic types)
        - `enabled` - Whether the LLM is enabled
        - `capabilities` - Model capabilities (image support, context limit, tool calling)

        **Immutable fields:**
        - `id` - System-generated identifier
        - `name` - LLM name

        Built-in LLMs (system-provided models) cannot be updated.

        Parameters
        ----------
        llm_id : str
            The ID of the LLM to update.

        request : UpdateLlmRequest

        request_options : typing.Optional[RequestOptions]
            Request-specific configuration.

        Returns
        -------
        Llm
            The LLM has been updated

        Examples
        --------
        from vectara import UpdateLlmRequest_OpenaiCompatible, Vectara

        client = Vectara(
            client_id="YOUR_CLIENT_ID",
            client_secret="YOUR_CLIENT_SECRET",
        )
        client.llms.update(
            llm_id="llm_id",
            request=UpdateLlmRequest_OpenaiCompatible(),
        )
        """
        _response = self._raw_client.update(llm_id, request=request, request_options=request_options)
        return _response.data


class AsyncLlmsClient:
    def __init__(self, *, client_wrapper: AsyncClientWrapper):
        self._raw_client = AsyncRawLlmsClient(client_wrapper=client_wrapper)

    @property
    def with_raw_response(self) -> AsyncRawLlmsClient:
        """
        Retrieves a raw implementation of this client that returns raw responses.

        Returns
        -------
        AsyncRawLlmsClient
        """
        return self._raw_client

    async def list(
        self,
        *,
        filter: typing.Optional[str] = None,
        limit: typing.Optional[int] = None,
        page_key: typing.Optional[str] = None,
        request_options: typing.Optional[RequestOptions] = None,
    ) -> AsyncPager[Llm, ListLlMsResponse]:
        """
        List LLMs that can be used with query and chat endpoints. The LLM is not directly specified in a query, but instead a `generation_preset_name` is used. The `generation_preset_name` property in generation parameters can be found as the `name` property on the Generations Presets retrieved from `/v2/generation_presets`.

        Parameters
        ----------
        filter : typing.Optional[str]
            A regular expression to match names and descriptions of the LLMs.

        limit : typing.Optional[int]
            The maximum number of results to return in the list.

        page_key : typing.Optional[str]
            Used to retrieve the next page of LLMs after the limit has been reached. This parameter is not needed for the first page of results.

        request_options : typing.Optional[RequestOptions]
            Request-specific configuration.

        Returns
        -------
        AsyncPager[Llm, ListLlMsResponse]
            List of LLMs.

        Examples
        --------
        import asyncio

        from vectara import AsyncVectara

        client = AsyncVectara(
            client_id="YOUR_CLIENT_ID",
            client_secret="YOUR_CLIENT_SECRET",
        )


        async def main() -> None:
            response = await client.llms.list()
            async for item in response:
                yield item

            # alternatively, you can paginate page-by-page
            async for page in response.iter_pages():
                yield page


        asyncio.run(main())
        """
        return await self._raw_client.list(
            filter=filter, limit=limit, page_key=page_key, request_options=request_options
        )

    async def create(
        self, *, request: CreateLlmRequest, request_options: typing.Optional[RequestOptions] = None
    ) -> Llm:
        """
        Integrate external Large Language Models (LLMs) into Vectara for Retrieval Augmented Generation (RAG) and chat. Connect OpenAI API-compatible models from providers like Anthropic, Azure, Google, or custom-hosted endpoints. Once created, reference your custom LLM by name in query generation parameters.
        - Connect external LLMs using OpenAI-compatible API format
        - Configure multiple LLM providers for different use cases
        - Override Vectara's built-in LLMs with your own models
        - Use custom models for RAG, chat, and document summarization

        **Example providers:**

        ### OpenAI

        **Type:** `openai-compatible`
        **Models:** GPT-4o, GPT-5
        **Auth:** Bearer token

        ```json
        {
          "type": "openai-compatible",
          "name": "my-gpt5",
          "model": "gpt-5",
          "uri": "https://api.openai.com/v1/chat/completions",
          "auth": {
            "type": "bearer",
            "token": "sk-..."
          }
        }
        ```

        ### OpenAI Responses API

        **Type**: openai-responses
        **Models**: o1-preview, o1-mini, o3-mini (reasoning models)
        **Auth**: Bearer token
        **Note**: For reasoning models that don't support streaming

        ```json
        {
          "type": "openai-responses",
          "name": "my-o1",
          "model": "o1-preview",
          "uri": "https://api.openai.com/v1/chat/completions",
          "auth": {
            "type": "bearer",
            "token": "sk-..."
          }
        }
        ```

        ### Anthropic Claude

        **Type:** `openai-compatible`
        **Models:** claude-4-opus, claude-4-5-haiku, claude-4-5-sonnet
        **Auth:** Bearer token with header

        ```json
        {
          "type": "openai-compatible",
          "name": "my-claude",
          "model": "claude-sonnet-4-5-20250929",
          "uri": "https://api.anthropic.com/v1/messages",
          "auth": {
            "type": "bearer",
            "token": "sk-ant-..."
          },
          "headers": {
            "anthropic-version": "2023-06-01"
          }
        }
        ```

        ### Azure OpenAI

        **Type:** `openai-compatible`
        **Models:** GPT-3.5, GPT-4 (Azure-deployed versions)
        **Auth:** Custom header (api-key)

        ```json
        {
          "type": "openai-compatible",
          "name": "my-azure-gpt4",
          "model": "gpt-4",
          "uri": "https://YOUR-RESOURCE.openai.azure.com/openai/deployments/YOUR-DEPLOYMENT/chat/completions?api-version=2024-02-15-preview",
          "auth": {
            "type": "header",
            "header": "api-key",
            "value": "your-azure-key"
          }
        }
        ```

        ### Google Vertex AI (Gemini) — Service Account

        **Type:** `vertex-ai`
        **Models:** gemini-2.5-pro, gemini-2.5-flash
        **Auth:** Service account

        ```json
        {
          "type": "vertex-ai",
          "name": "my-gemini",
          "model": "gemini-2.5-flash",
          "uri": "https://us-central1-aiplatform.googleapis.com/v1/projects/YOUR-PROJECT/locations/us-central1",
          "auth": {
            "type": "service_account",
            "key_json": "{...service account JSON...}"
          }
        }
        ```

        ### Google AI Studio (Gemini) — API Key

        **Type:** `vertex-ai`
        **Models:** gemini-2.5-pro, gemini-2.5-flash
        **Auth:** API key

        ```json
        {
          "type": "vertex-ai",
          "name": "my-gemini",
          "model": "gemini-2.5-flash",
          "uri": "https://generativelanguage.googleapis.com/v1beta",
          "auth": {
            "type": "api_key",
            "api_key": "your-google-api-key"
          }
        }
        ```

        The `uri` field is flexible — you can provide a base URI or a full URL copied from Google docs
        (including model path and `:generateContent` suffix). The system normalizes it automatically.

        ### Custom OpenAI-Compatible

        **Type:** `openai-compatible`
        **Models:** Any self-hosted or custom LLM, such as OpenRouter.
        **Auth:** Bearer or custom header

        ```json
        {
          "type": "openai-compatible",
          "name": "my-custom-llm",
          "model": "llama-3-70b",
          "uri": "https://my-llm-endpoint.com/v1/chat/completions",
          "auth": {
            "type": "bearer",
            "token": "custom-token"
          }
        }
        ```

        Parameters
        ----------
        request : CreateLlmRequest

        request_options : typing.Optional[RequestOptions]
            Request-specific configuration.

        Returns
        -------
        Llm
            The LLM has been created

        Examples
        --------
        import asyncio

        from vectara import AsyncVectara, CreateLlmRequest_OpenaiCompatible

        client = AsyncVectara(
            client_id="YOUR_CLIENT_ID",
            client_secret="YOUR_CLIENT_SECRET",
        )


        async def main() -> None:
            await client.llms.create(
                request=CreateLlmRequest_OpenaiCompatible(
                    name="Claude 3.7 Sonnet",
                    model="claude-3-7-sonnet-20250219",
                    uri="https://api.anthropic.com/v1/chat/completions",
                ),
            )


        asyncio.run(main())
        """
        _response = await self._raw_client.create(request=request, request_options=request_options)
        return _response.data

    async def get(self, llm_id: str, *, request_options: typing.Optional[RequestOptions] = None) -> Llm:
        """
        The Get LLM API allows users to retrieve details about a specific Large Language Model (LLM) that has been configured within the Vectara platform. This API provides metadata about the LLM, including its name, description, model type, API endpoint, and authentication method.

        Use this API to verify model configurations, confirm connectivity details, and ensure that the correct LLM is being utilized within their workflows.

        ## Authentication methods
        The request requires authentication details, and you can provide them either as a Bearer token or custom header-based authentication.

        Parameters
        ----------
        llm_id : str
            The name of the LLM to retrieve.

        request_options : typing.Optional[RequestOptions]
            Request-specific configuration.

        Returns
        -------
        Llm
            The LLM details.

        Examples
        --------
        import asyncio

        from vectara import AsyncVectara

        client = AsyncVectara(
            client_id="YOUR_CLIENT_ID",
            client_secret="YOUR_CLIENT_SECRET",
        )


        async def main() -> None:
            await client.llms.get(
                llm_id="llm_id",
            )


        asyncio.run(main())
        """
        _response = await self._raw_client.get(llm_id, request_options=request_options)
        return _response.data

    async def delete(self, llm_id: str, *, request_options: typing.Optional[RequestOptions] = None) -> None:
        """
        The Delete LLM API enables users to remove a previously configured custom Large Language Model (LLM) from their Vectara account. This functionality is essential for managing active LLM configurations and ensuring that only relevant models are available for use. Built-in LLMs cannot be deleted, ensuring that core system models remain accessible.

        By providing an LLM identifier, users can permanently delete a model configuration, freeing up resources and maintaining an organized list of available LLMs.

        If successful, the API responds with `HTTP 204 No Content` status, confirming the LLM deletion.

        Parameters
        ----------
        llm_id : str
            The name of the LLM to delete.

        request_options : typing.Optional[RequestOptions]
            Request-specific configuration.

        Returns
        -------
        None

        Examples
        --------
        import asyncio

        from vectara import AsyncVectara

        client = AsyncVectara(
            client_id="YOUR_CLIENT_ID",
            client_secret="YOUR_CLIENT_SECRET",
        )


        async def main() -> None:
            await client.llms.delete(
                llm_id="llm_id",
            )


        asyncio.run(main())
        """
        _response = await self._raw_client.delete(llm_id, request_options=request_options)
        return _response.data

    async def update(
        self, llm_id: str, *, request: UpdateLlmRequest, request_options: typing.Optional[RequestOptions] = None
    ) -> Llm:
        """
        Update an existing LLM's configuration. This endpoint allows partial updates - only provide fields you want to change. Only the name field is immutable.

        The updated LLM will be tested before saving to ensure credentials are valid.

        **Updatable fields:**
        - `description` - LLM description
        - `type` - LLM type (openai-compatible, vertex-ai, etc.)
        - `model` - Model identifier
        - `uri` - API endpoint
        - `auth` - Authentication credentials (including service account key_json)
        - `headers` - Additional HTTP headers (for openai-compatible and anthropic types)
        - `enabled` - Whether the LLM is enabled
        - `capabilities` - Model capabilities (image support, context limit, tool calling)

        **Immutable fields:**
        - `id` - System-generated identifier
        - `name` - LLM name

        Built-in LLMs (system-provided models) cannot be updated.

        Parameters
        ----------
        llm_id : str
            The ID of the LLM to update.

        request : UpdateLlmRequest

        request_options : typing.Optional[RequestOptions]
            Request-specific configuration.

        Returns
        -------
        Llm
            The LLM has been updated

        Examples
        --------
        import asyncio

        from vectara import AsyncVectara, UpdateLlmRequest_OpenaiCompatible

        client = AsyncVectara(
            client_id="YOUR_CLIENT_ID",
            client_secret="YOUR_CLIENT_SECRET",
        )


        async def main() -> None:
            await client.llms.update(
                llm_id="llm_id",
                request=UpdateLlmRequest_OpenaiCompatible(),
            )


        asyncio.run(main())
        """
        _response = await self._raw_client.update(llm_id, request=request, request_options=request_options)
        return _response.data
